<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Primary Meta Tags -->
    <title>My PortFolio - Kyle Wong</title>
    <meta name="title" content="PortFolio - Kyle Wong">
    <meta name="description" content="About Me: I am a Software Developer who like to build websites.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://kylewong.azurewebsites.net/">
    <meta property="og:title" content="PortFolio - Kyle Wong">
    <meta property="og:description" content="About Me: I am a Software Developer who like to build websites.">
    <meta property="og:image" content="">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://kylewong.azurewebsites.net/">
    <meta property="twitter:title" content="My PortFolio - Kyle Wong">
    <meta property="twitter:description" content="About Me: I am a Software Developer who like to build websites.">
    <meta property="twitter:image" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>@ViewData["Title"] - Kyle Wong</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href='@Url.Content("~/css/linearicons.css")'>
        <link rel="stylesheet" href='@Url.Content("~/css/font-awesome.min.css")'>
        <link rel="stylesheet" href='@Url.Content("~/css/site.css")'>
        <link rel="stylesheet" href='@Url.Content("~/css/base.css")'>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/linearicons.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/fonts/Linearicons-Free.woff" asp-append-version="true" />
    </environment>
</head>
<body>
    <header id="header">
        <div class="container main-menu">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="index.html"><img src="img/logo.png" alt="" title="" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li><a asp-page="/Index">Home</a></li>
                        <li><a asp-page="/About">About Me</a></li>
                        @*<li><a href="contact.html">Contact</a></li>*@
                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </div>
    </header><!-- #header -->
    <div class="container body-content">
        @RenderBody()

        <footer>


            <p class="watermark">&copy; 2020 - Kyle Wong</p>


        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
<script>
    $(document).ready(function () {
        $(".bigtext").animate({ //be sure to change the class of your element to "header"
            left: '2px',
            opacity: '1',
            width: '150px'
        });


    });
</script>